@import "../../../assets/styles/base/variables";

.search-location {
  background-color: transparent;
  box-shadow: none;
  caret-color: #ffffff;
  border: none;
  border-bottom: 2px solid #ffffff73;
  border-radius: 0;
  color: white;
}

// :-ms-input-placeholder {
//     color: #ffffff;

// }
::-webkit-input-placeholder {
  color: #ffffff;
  opacity: $opacity-low;
}


